.form__header {
  margin: 45px auto 0 auto;
  font-size: 50px;
  font-weight: 1000;
  width: 60%;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .form__header {
    margin: 25px auto 10px auto;
    font-size: 30px;
  }
}
